.designTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 10px;
  text-align: center;
  width: 80%;
  overflow: hidden;
}

.designTable_cell {
  color: #808080;
  min-height: 60px;
  background-color: #ffffff;
  cursor: default;

  display: grid;
  place-items: center;
  padding: .5rem 1rem;
}

.designTable_redAlert {
  color: red;
}

.designTable_cell:nth-child(8n + 1),
.designTable_cell:nth-child(8n + 2),
.designTable_cell:nth-child(8n + 3),
.designTable_cell:nth-child(8n + 4) {
  background-color: #f5f5f5;
}

.designTable_cell.designTable_Header {
  background-color: #1e2124;
  color: #fff;
}

.designTable_btn {
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.designTable_btn:hover {
  text-decoration: underline;
}


